*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sideBar{
  background-color: rgb(0,7,61);
  color: white;
  height: 100vh;
}
.link{
  display: flex;
  color: black;
  gap: 10px;
  padding: 5px 10px;
}
a{
  text-decoration: none;
}
.link:hover {
  background-color: rgb(45,51,89);
  color: white;
}
.active {
  background-color: rgb(45,51,89);
}
.main-container {
  display: flex;
}
.form-error {
  font-size: 1.4rem;
  color: #b22b27;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('logo.svg') no-repeat;
  width: 25px;
  height: 25px;
  border-width: thin
}
